 .packageHolder {
	 width: 100%;
     max-width: 600px;
     margin: 3rem 0;
     display: flex;
}
 .chartHolder {
     width: 100%;
     background: #fff;
}
 .chart {
     width:100%;
     background: #fff;
}

.label {
	margin-top:2rem;
}

.text-input {
	width: 100%;
	margin-bottom: 1rem;
}

.form-input {
	width: 100%;
}

.selectHolder {
	margin-bottom: 1.5rem;
	width: 100%;
	float: left;
}

.btn {
    margin-right: 1rem;
    margin-bottom: 2rem;
}

.btn-holder {
	width: 100%;
	float: left;
	display: inline-block;
	margin: 1rem auto;
}

 .horizontalBarChart {
     width:100%;
     margin: 2rem 0;
     display:inline-block;
     background:#fff;
}
 .horizontalBarChart .row {
     margin-bottom:0.2rem;
     padding-bottom:0.2rem;
     border-bottom:1px dotted #eee;
     width:100%;
     float:left;
}
 .horizontalBarChart .Name {
     padding-right: 0.5rem;
     width:20%;
     min-width:100px;
     margin-bottom:0.2rem;
     font-family:'BentonSans', Helvetica, Arial, sans-serif;
     float:left;
     text-align:right;
     font-size:0.9rem;
}
 .horizontalBarChart .Value {
     float:left;
     display:inline;
     margin-right:1.5%;
}
 .horizontalBarChart .Value span {
     float:left;
     height:20px;
     width:100%;
}
 .horizontalBarChart .ValueNumber {
     margin-bottom:0.2rem;
     font-family:'BentonSans', Helvetica, Arial, sans-serif;
     float:left;
     font-size:0.9rem;
     display:inline;
}
 .state {
     fill: #EEE;
     stroke: #AAA;
}

.bubbleChart {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
}

.bubble__holder {
	float: left;
	position:relative;
	width:46%;
	margin: 2%;
	text-align:center;
	-moz-box-shadow:    0px 0px 2px 2px rgba(0,0,0,.1);
	-webkit-box-shadow: 0px 0px 2px 2px rgba(0,0,0,.1);
	box-shadow:         0px 0px 2px 2px rgba(0,0,0,.1);
	padding: 10px;
	font-family:'BentonSans', Helvetica, Arial, sans-serif;
}

.bubble__holder .Name {
     font-family:'BentonSans', Helvetica, Arial, sans-serif;
     float:left;
     text-align:center;
     font-size:0.9rem;
     margin-bottom: 1rem;
     display: contents;
}

.bubble__holder .square {
  position: relative;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}


.bubble__holder .Value {
	width:100%;
	text-align:center;
}


@media screen and (min-width: 480px) {

.bubble__holder {
	width:30%;
	margin: 1.5%;
}

.selectHolder {
	margin-bottom: 1.5rem;
	width: 47%;
	margin-right:3%;
	float: left;
}

}

@media screen and (min-width: 600px) {

.selectHolder {
	margin-bottom: 1.5rem;
	width: 30%;
	margin-right:3%;
	float: left;
}

}

@media screen and (min-width: 1160px) {

.bubble__holder {
	width:23%;
	margin: 1%;
}

}